[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-on-heroku = "*"
gunicorn = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"
pylint = "*"
pillow = "*"
mock = "*"
install = "*"
psycopg2-binary = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
pydantic = "*"
drf-yasg = "*"
pydantic-settings = "*"

[dev-packages]
black = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.12"
