[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
gunicorn = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"
pillow = "*"
psycopg2-binary = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
pydantic = "*"
drf-yasg = "*"
pydantic-settings = "*"
dj-database-url = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"
